# Q1. 
Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [3]:
shopping = ["spam", "ham", "eggs", "ham"]
type(shopping)

list

Then do the following:

Extract the second element of the list.

Extract the first to third (inclusive) element of the list.

Extract only the last element of the list.

In [4]:
shopping[1]

'ham'

In [7]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [8]:
shopping[-1]

'ham'


# Question 2
Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [63]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
type(stops)

list

Perform the following:

Append Edinburgh Waverley to the end of the list
Add "Queen Street" to the start of the list
Find out what index "Croy" is at in the list
Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
Remove "Haymarket" from the list of stops
Remove all items from stops
Hint: Some of these methods will change the original object stops. If you make any unwanted changes and 
want to go back to the original object you can re-run the code chunks where we created the object stops 
and then appended "Edinburgh Waverley".

In [64]:
#Append Edinburgh Waverley to the end of the list

stops.append("Edinburgh Waverly")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [65]:
# Add "Queen Street" to the start of the list

stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [66]:
# Find out what index "Croy" is at in the list

stops.index("Croy")

1

In [67]:
# Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [68]:
# Remove "Haymarket" from the list of stops

stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverly']

In [70]:
#Remove all items from stops

stops.clear()

stops

[]

# Question 3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

In [71]:
person = {"name": "Steph", 
          "age": 31, 
          "Instructor" : True}

Do the following:

Return the keys, values and items from this dictionary

Take out only the name from it

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

Delete the job description from the dictionary (Hint: look up the del function)

In [72]:
# Return the keys, values and items from this dictionary

person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [73]:
person.values()

dict_values(['Steph', 31, True])

In [74]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [75]:
# Take out only the name from it

person["name"]

'Steph'

In [76]:
#Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

person.update({"name": "Steph", 
          "age": 31, 
          "Instructor" : True, 
           "value pair": "steph@codeclan.com"})

person

{'name': 'Steph',
 'age': 31,
 'Instructor': True,
 'value pair': 'steph@codeclan.com'}

In [78]:
# Delete the job description from the dictionary (Hint: look up the del function)

del person["Instructor"]

In [79]:
person

{'name': 'Steph', 'age': 31, 'value pair': 'steph@codeclan.com'}

# Question 4

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

Print out a list of the even integers:

Print the difference between the largest and smallest value:

Print True if the list contains a 2 next to a 2 somewhere.

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [80]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [83]:
# Print out a list of the even integers:

even_numbers = [] 

for n in numbers:
    if n % 2 == 0:
        even_numbers.append(n)
        
print(even_numbers)

[6, 2, 2, 6]

In [84]:
# Print the difference between the largest and smallest value:

maximum = max(numbers)
print(maximum)

99

In [85]:
minimum = min(numbers)
print(minimum)

1

In [89]:
print(maximum - minimum)

98

In [103]:
# Print True if the list contains a 2 next to a 2 somewhere.

for n in numbers: 
    if numbers[n] == 2 and numbers[n+1] == 2:
        return TRUE
    
    
    
# tried a few things... can't get this one to work.

SyntaxError: 'return' outside function (Temp/ipykernel_93532/321590826.py, line 5)

In [ ]:
# Print the sum of the numbers, BUT ignore any section of numbers starting with a 
# 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

list